# Python cache files
__pycache__/
*.pyc
*.pyo
tempCodeRunnerFile.py
src/tempCodeRunnerFile.py

# Output results and generated plots
results/data/
results/plots/

# Private report folder
report/

# Doc
# CI_Project.pdf

#test_ipynb
test